@charset "utf-8";
/* CSS Document */
body
{
	
	margin:0px;
	background-color:#dcdcdc;
	
}
#Logo
{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
    max-width: 50%;
	max-height: 100%;
	position: static;
	
}
span
{
	text-align:center;
}
#links
{
	padding:0px 20px 20px;
	font-size: 1.2em;

}
ul.deco
{
	list-style-type: none;
}

li::before
{
	
	
	content:"💡"; 
	margin-right: 20px;
    font-size: 1.35em;
}
a
{
	text-decoration: none;
	font-size:1.2em;
	font-weight: 100;
}
a:link {
  color: #000000;
}
a:visited {
  color: #002D3A;
}
a:hover {
  color: #cc3366;
}
a:active {
  color: #cc3366;
}
